<!DOCTYPE html>
{%load static%}
 <html lang="en">
 <head>
	 <meta charset="UTF-8">
	 <title></title>
   {% block link_block%}
   {%endblock%}
	 <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
{%include "testapp/base.html"%}
<div class="resume">
   <div class="resume_left">
     <div class="resume_profile" id="edit" contenteditable="true">
       <img src="https://www.macrollc.com/images/easyblog_shared/July_2018/7-4-18/totw_network_profile_400.jpg" alt="profile_pic">
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <div class="title">
           <p class="bold" id="edit" contenteditable="true">Alka Rani</p>
           <p class="regular" id="edit" contenteditable="true">Developer</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fa fa-map-signs"></i>
             </div>
             <div class="data" id="edit" contenteditable="true">
               Address<br /> country
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fa fa-mobile-alt"></i>
             </div>
             <div class="data" id="edit" contenteditable="true">
               9876543210
             </div>
           </li>
           <li>
             <div class="icon">
              <i class="fas fa-envelope"></i>"
             </div>
             <div class="data" id="edit" contenteditable="true">
               alka@gmail.com
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-weebly"></i>
             </div>
             <div class="data" id="edit" contenteditable="true">
               www.resumemaker.com
             </div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_skills">
         <div class="title">
           <p class="bold">skill's</p>
         </div>
         <ul>
           <li>
             <div class="skill_name" id="edit" contenteditable="true">
               HTML
             </div>
             <div class="skill_progress" id="edit" contenteditable="true">
               <span style="width: 80%;"></span>
             </div>
             <div class="skill_per" id="edit" contenteditable="true">80%</div>
           </li>
           <li>
             <div class="skill_name" id="edit" contenteditable="true">
               CSS
             </div>
             <div class="skill_progress" id="edit" contenteditable="true">
               <span style="width: 70%;"></span>
             </div>
             <div class="skill_per" id="edit" contenteditable="true">70%</div>
           </li>
           <li>
             <div class="skill_name" id="edit" contenteditable="true">
               DJANGO
             </div>
             <div class="skill_progress" id="edit" contenteditable="true">
               <span style="width: 90%;"></span>
             </div>
             <div class="skill_per" id="edit" contenteditable="true">90%</div>
           </li>
           <li>
             <div class="skill_name" id="edit" contenteditable="true">
               JS
             </div>
             <div class="skill_progress" id="edit" contenteditable="true">
               <span style="width: 60%;"></span>
             </div>
             <div class="skill_per" id="edit" contenteditable="true">60%</div>
           </li>
           <li>
             <div class="skill_name" id="edit" contenteditable="true">
               JQUERY
             </div>
             <div class="skill_progress" id="edit" contenteditable="true">
               <span style="width: 88%;"></span>
             </div>
             <div class="skill_per" id="edit" contenteditable="true">88%</div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_social">
         <div class="title">
           <p class="bold">Social</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fab fa-facebook-square"></i>
             </div>
             <div class="data" >
               <p class="semi-bold">Facebook</p>
               <p id="edit" contenteditable="true">alka@facebook</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-twitter-square"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Twitter</p>
               <p id="edit" contenteditable="true">alka@twitter</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-youtube"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Youtube</p>
               <p id="edit" contenteditable="true">alka@youtube</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-linkedin"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Linkedin</p>
               <p id="edit" contenteditable="true">alka@linkedin</p>
             </div>
           </li>
         </ul>
       </div>
     </div>
  </div>
  <div class="resume_right">
    <div class="resume_item resume_about">
        <div class="title">
           <p class="bold">About me</p>
         </div>
        <p id="edit" contenteditable="true">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis illo fugit officiis distinctio culpa officia totam atque exercitationem inventore repudiandae?</p>
    </div>
    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Work Experience</p>
         </div>
        <ul>
            <li>
                <div class="date" id="edit" contenteditable="true">2013 - 2015</div>
                <div class="info">
                     <p class="semi-bold" id="edit" contenteditable="true">Lorem ipsum dolor sit amet.</p>
                  <p id="edit" contenteditable="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                </div>
            </li>
            <li>
              <div class="date" id="edit" contenteditable="true">2015 - 2017</div>
              <div class="info">
                     <p class="semi-bold" id="edit" contenteditable="true">Lorem ipsum dolor sit amet.</p>
                  <p id="edit" contenteditable="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                </div>
            </li>
            <li>
              <div class="date" id="edit" contenteditable="true">2017 - Present</div>
              <div class="info">
                     <p class="semi-bold" id="edit" contenteditable="true">Lorem ipsum dolor sit amet.</p>
                  <p id="edit" contenteditable="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                </div>
            </li>
            <li>
              <div class="date" id="edit" contenteditable="true">2017 - Present</div>
              <div class="info">
                     <p class="semi-bold" id="edit" contenteditable="true">Lorem ipsum dolor sit amet.</p>
                  <p id="edit" contenteditable="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                </div>
            </li>
            <li>
              <div class="date" id="edit" contenteditable="true">2017 - Present</div>
              <div class="info">
                     <p class="semi-bold" id="edit" contenteditable="true">Lorem ipsum dolor sit amet.</p>
                  <p id="edit" contenteditable="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="resume_item resume_education">
      <div class="title">
           <p class="bold">Education</p>
         </div>
      <ul>
            <li>
                <div class="date" id="edit" contenteditable="true">2018 - present</div>
                <div class="info">
                     <p class="semi-bold" id="edit" contenteditable="true">Web Designing (Texas University)</p>
                  <p id="edit" contenteditable="true" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                </div>
            </li>
            <li>
              <div class="date" id="edit" contenteditable="true">2016 - 2018</div>
              <div class="info">
                     <p class="semi-bold" id="edit" contenteditable="true">Texas International School</p>
                  <p id="edit" contenteditable="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                </div>
            </li>
            <li>
                <div class="date" id="edit" contenteditable="true">2006 - 2016</div>
                <div class="info">
                       <p class="semi-bold" id="edit" contenteditable="true">Rose Mary Land School</p>
                    <p id="edit" contenteditable="true">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                  </div>
              </li>
        </ul>
    </div>
    <div class="resume_item resume_hobby">
      <div class="title">
           <p class="bold">Hobby</p>
         </div>
       <ul>
         <li id="edit" contenteditable="true">Reading Books</li>
         <li id="edit" contenteditable="true">Playing games</li>
         <li id="edit" contenteditable="true">Listening music</li>
         <li id="edit" contenteditable="true">Surfing on internet</li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
function saveEdits() {

//get the editable element
var editElem = document.getElementById("edit");

//get the edited element content
var userVersion = editElem.innerHTML;

//save the content to local storage
localStorage.userEdits = userVersion;

//write a confirmation to the user
document.getElementById("update").innerHTML="Edits saved!";
}
function checkEdits() {

//find out if the user has previously saved edits
if(localStorage.userEdits!=null)
document.getElementById("edit").innerHTML = localStorage.userEdits;
}
</script>
{% block child_block%}
{%endblock%}
{% block script_block%}
<script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
{%endblock%}
</body>
</html>
