<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%load static%}
{% block child_block %}
  <div class="container " id="home">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <img  id="im" src="{%static "images/resume.png"%}" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 gd">
      <h1 id="rm"><span style="color:red;">Resume</span> Maker</h1>
      <h3 id="eo">EASY ONLINE RESUME BUILDER</h3>
      <p id="pa">Here you can make your resume which can be used anywhere. <br>
      Choose from several templates and follow easy prompts to create the perfect job-ready resume effortlessly.</p>
<a href="#" class="btn by btn-danger">Build Your resume</a> <br><br>
    </div>
  </div>
  </div>
<img id="img" src="https://d.novoresume.com/images/blogs/55839c90-6d75-11e8-9ca8-6d365b13efdc/bg-cover-article.png" alt="">
<br><br><div class="container des">
<h1 style="border-bottom: 3px solid #1ab19c;font-family: 'Ranchers', cursive;">Building a resume is very easy using Resume Maker</h1>
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <h4 id="step">step-1</h4>
    <img src="https://img.icons8.com/bubbles/2x/resume.png" alt="">
    <h4 id="tr" >Choose your resume template</h4>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <h4 id="step">Step-2</h4>
      <img src="{%static "images/icon.ico"%}" alt="">
      <h4 id="tr">Fill your details</h4>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <h4 id="step"> step-3</h4>
      <img src="{%static "images/icon1.ico"%}" alt="">
      <h4 id="tr">Download your resume and start using it.</h4>
    </div>
  </div>
</div><br><br>
<!-- <div class="btd">
<a href="#" class="btn btn-danger by " >Start building your resume</a>
</div><br><br> -->
<div class="rt" id="template">
  <h1 id="rt" >Resume Templates</h1>
  <p id="ra">Choose from 20+ templates that have landed thousands of people like you the jobs they were dreaming of.</p>
</div>

<div class="container">
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-2 image">
      <img id="res" src="{%static "images/simpleresume.png"%}" alt="" height="500px">
      <div class="middle">
    <div class="text btn-warning"><a href="/edit1">use this template</a></div><br>
      <div class="text btn-warning"><a href="/simpleresume">views this template</a></div>
  </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-2 image">
        <img id="res" src="{%static "images/1.png"%}" alt="">
        <div class="middle">
          <div class="text btn-warning"><a href="#">use this template</a></div><br>
            <div class="text btn-warning"><a href="#">views this template</a></div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-2 image">
          <img id="res" src="{%static "images/1.png"%}" alt="">
          <div class="middle">
            <div class="text btn-warning"><a href="#">use this template</a></div><br>
              <div class="text btn-warning"><a href="#">views this template</a></div>
          </div>
          </div>
</div> <br>
</div>
<div class="btd" style="text-align:center;">
<a href="#" class="btn btn-primary by " >view more templates</a>
</div> <br>
<div class="about" id="about">
  <h1 style="border-bottom: 3px solid #1ab19c;font-family: 'Ranchers', cursive;">About the Resume Maker</h1>
</div>
<div class="container ">
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h2 id="ac">Resume Maker provides you the professional impressive resume.</h2>
    <p id="para"><img id="ic" src="https://img.icons8.com/cute-clipart/64/000000/double-tick.png"/> Resume maker provides you resume instantly generated by the most advanced resume builder technology .</p>
  <p id="para"><img id="ic" src="https://img.icons8.com/cute-clipart/64/000000/double-tick.png"/> we provides you 20+ resume templates you can easily select one and use them.</p>
  <p id="para"><img id="ic" src="https://img.icons8.com/cute-clipart/64/000000/double-tick.png"/> Land your dream job with the Resume Maker employers are looking for!</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <img id="ab" src="{%static "images/about.jpg"%}" alt="">
      </div>
    </div>
    </div>
    {%include "testapp/footer.html"%}
{%endblock%}
